body {
    background-color: #212121;
    color: white;
    margin: auto;
}

#startGame {
    display: flex;
    height: 97Vh;
    justify-content: center;
    align-items: center;
}

#startBtn {
    font-size: 72px;
    display: flex;
    align-items: center;
    border: 2px solid white;
    border-radius: 5px;
    background-color: #484848;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#gameWrapper {
    display: flex;
    flex-direction: column;
    height: 97Vh;
    justify-content: center;
    align-items: center;
}

#title, #tiles, #rock, #paper, #scissors {
    display: flex;
    font-size: 72px;
    margin: 10px;
}

.bangers {
    font-family: 'Bangers', sans-serif;
}

.indieflower {
    font-family: 'Indie Flower', sans-serif;
}

.gloriahallelujah {
    font-family: 'Gloria Hallelujah', sans-serif;
}