body {
    background-color: #212121;
    color: white;
    margin: auto;
}


.show {
    display: flex;
}

.hide {
    display: none;
}

#startGame {
    height: 97Vh;
    justify-content: center;
    align-items: center;
}


#startBtn {
    font-size: 72px;
    display: flex;
    align-items: center;
    border: 2px solid white;
    border-radius: 5px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#gameWrapper {
    flex-direction: column;
    height: 97Vh;
    justify-content: center;
    align-items: center;
}

.countColumn,
#result {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    font-size: 24px;
}

#title {
    font-size: 96px;
    padding: 25px;
}

.tile {
    font-size: 72px;
    padding: 50px;
}

#title,
#tiles,
#countWrapper {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 25px;
    margin-right: 25px;
    min-width: 40%;
    justify-content: center;
}

.bangers {
    font-family: 'Bangers', sans-serif;
}

.indieflower {
    font-family: 'Indie Flower', sans-serif;
}

.gloriahallelujah {
    font-family: 'Gloria Hallelujah', sans-serif;
}